USE [master]
GO
/****** Object:  Database [HOUSE]    Script Date: 30/11/2025 10:17:04 CH ******/
CREATE DATABASE [HOUSE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOUSE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HOUSE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOUSE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HOUSE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOUSE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOUSE]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[IDAddress] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Rank] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[IDAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddressDuAn]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressDuAn](
	[IDAddressDuAn] [int] IDENTITY(1,1) NOT NULL,
	[IDDuAn] [int] NULL,
	[IDAddress] [int] NULL,
 CONSTRAINT [PK_AddressDuAn] PRIMARY KEY CLUSTERED 
(
	[IDAddressDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddressHouse]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressHouse](
	[IDAdressHouse] [int] IDENTITY(1,1) NOT NULL,
	[IDHouse] [int] NULL,
	[IDAddress] [int] NULL,
 CONSTRAINT [PK_AddressHouse] PRIMARY KEY CLUSTERED 
(
	[IDAdressHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IDCategory] [int] IDENTITY(1,1) NOT NULL,
	[Rank] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[State] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[IDCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuAn]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuAn](
	[IDDuAn] [int] IDENTITY(1,1) NOT NULL,
	[Block] [int] NULL,
	[Floor] [int] NULL,
	[House] [int] NULL,
	[Sumary] [nvarchar](3000) NULL,
	[IDInvestor] [int] NULL,
	[IDMap] [nvarchar](50) NULL,
	[State] [tinyint] NULL,
	[Name] [nvarchar](100) NULL,
	[Start] [date] NULL,
	[IDTaiKhoan] [int] NULL,
	[GiaBan] [nvarchar](50) NULL,
	[GiaThue] [nvarchar](50) NULL,
 CONSTRAINT [PK_DuAn] PRIMARY KEY CLUSTERED 
(
	[IDDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[IDHouse] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[IDTaiKhoan] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Sumary] [nvarchar](3000) NULL,
	[IDDuAn] [int] NULL,
	[Views] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[IDMap] [nvarchar](50) NULL,
	[BedRoom] [int] NULL,
	[Area] [int] NULL,
	[State] [tinyint] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [int] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[IDHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageDuAn]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageDuAn](
	[IDImageDuAn] [int] IDENTITY(1,1) NOT NULL,
	[IDDuAn] [int] NULL,
	[Link] [nvarchar](500) NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_ImageDuAn] PRIMARY KEY CLUSTERED 
(
	[IDImageDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageHouse]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageHouse](
	[IDImageHouse] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IDHouse] [int] NULL,
	[Link] [nvarchar](500) NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_ImageHouse] PRIMARY KEY CLUSTERED 
(
	[IDImageHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoDuAn]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoDuAn](
	[IDInfoDuAn] [int] IDENTITY(1,1) NOT NULL,
	[IDDuAn] [int] NULL,
	[IDKey] [int] NULL,
	[Value] [nvarchar](500) NULL,
 CONSTRAINT [PK_InfoDuAn] PRIMARY KEY CLUSTERED 
(
	[IDInfoDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoHouse]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoHouse](
	[IDInfoHouse] [int] IDENTITY(1,1) NOT NULL,
	[IDHouse] [int] NULL,
	[IDKey] [int] NULL,
	[Value] [nvarchar](500) NULL,
 CONSTRAINT [PK_InfoHouse] PRIMARY KEY CLUSTERED 
(
	[IDInfoHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investor]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investor](
	[IDInvestor] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Logo] [nvarchar](500) NULL,
	[Sumary] [nvarchar](1000) NULL,
	[State] [tinyint] NULL,
 CONSTRAINT [PK_Investor] PRIMARY KEY CLUSTERED 
(
	[IDInvestor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Key]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Key](
	[IDKey] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Rank] [int] NULL,
	[Active] [bit] NULL,
	[Required] [bit] NULL,
	[Type] [nvarchar](50) NULL,
	[IDCategory] [int] NULL,
 CONSTRAINT [PK_Key] PRIMARY KEY CLUSTERED 
(
	[IDKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Avatar] [nvarchar](500) NULL,
	[FullName] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[Adress] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[POSITION] [nvarchar](50) NULL,
	[State] [tinyint] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 30/11/2025 10:17:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[IDTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [int] NULL,
	[Contents] [nvarchar](max) NULL,
	[Avatar] [nvarchar](225) NULL,
	[State] [tinyint] NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[IDTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddressDuAn]  WITH CHECK ADD  CONSTRAINT [FK_AddressDuAn_Address] FOREIGN KEY([IDAddress])
REFERENCES [dbo].[Address] ([IDAddress])
GO
ALTER TABLE [dbo].[AddressDuAn] CHECK CONSTRAINT [FK_AddressDuAn_Address]
GO
ALTER TABLE [dbo].[AddressDuAn]  WITH CHECK ADD  CONSTRAINT [FK_AddressDuAn_DuAn] FOREIGN KEY([IDDuAn])
REFERENCES [dbo].[DuAn] ([IDDuAn])
GO
ALTER TABLE [dbo].[AddressDuAn] CHECK CONSTRAINT [FK_AddressDuAn_DuAn]
GO
ALTER TABLE [dbo].[AddressHouse]  WITH CHECK ADD  CONSTRAINT [FK_AddressHouse_Address] FOREIGN KEY([IDAddress])
REFERENCES [dbo].[Address] ([IDAddress])
GO
ALTER TABLE [dbo].[AddressHouse] CHECK CONSTRAINT [FK_AddressHouse_Address]
GO
ALTER TABLE [dbo].[AddressHouse]  WITH CHECK ADD  CONSTRAINT [FK_AddressHouse_House] FOREIGN KEY([IDHouse])
REFERENCES [dbo].[House] ([IDHouse])
GO
ALTER TABLE [dbo].[AddressHouse] CHECK CONSTRAINT [FK_AddressHouse_House]
GO
ALTER TABLE [dbo].[DuAn]  WITH CHECK ADD  CONSTRAINT [FK_DuAn_Investor] FOREIGN KEY([IDInvestor])
REFERENCES [dbo].[Investor] ([IDInvestor])
GO
ALTER TABLE [dbo].[DuAn] CHECK CONSTRAINT [FK_DuAn_Investor]
GO
ALTER TABLE [dbo].[DuAn]  WITH CHECK ADD  CONSTRAINT [FK_DuAn_TaiKhoan] FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[DuAn] CHECK CONSTRAINT [FK_DuAn_TaiKhoan]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_DuAn] FOREIGN KEY([IDDuAn])
REFERENCES [dbo].[DuAn] ([IDDuAn])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_DuAn]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_TaiKhoan] FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_TaiKhoan]
GO
ALTER TABLE [dbo].[ImageDuAn]  WITH CHECK ADD  CONSTRAINT [FK_ImageDuAn_DuAn] FOREIGN KEY([IDDuAn])
REFERENCES [dbo].[DuAn] ([IDDuAn])
GO
ALTER TABLE [dbo].[ImageDuAn] CHECK CONSTRAINT [FK_ImageDuAn_DuAn]
GO
ALTER TABLE [dbo].[ImageHouse]  WITH CHECK ADD  CONSTRAINT [FK_ImageHouse_House] FOREIGN KEY([IDHouse])
REFERENCES [dbo].[House] ([IDHouse])
GO
ALTER TABLE [dbo].[ImageHouse] CHECK CONSTRAINT [FK_ImageHouse_House]
GO
ALTER TABLE [dbo].[InfoDuAn]  WITH CHECK ADD  CONSTRAINT [FK_InfoDuAn_DuAn] FOREIGN KEY([IDDuAn])
REFERENCES [dbo].[DuAn] ([IDDuAn])
GO
ALTER TABLE [dbo].[InfoDuAn] CHECK CONSTRAINT [FK_InfoDuAn_DuAn]
GO
ALTER TABLE [dbo].[InfoDuAn]  WITH CHECK ADD  CONSTRAINT [FK_InfoDuAn_Key] FOREIGN KEY([IDKey])
REFERENCES [dbo].[Key] ([IDKey])
GO
ALTER TABLE [dbo].[InfoDuAn] CHECK CONSTRAINT [FK_InfoDuAn_Key]
GO
ALTER TABLE [dbo].[InfoHouse]  WITH CHECK ADD  CONSTRAINT [FK_InfoHouse_House] FOREIGN KEY([IDHouse])
REFERENCES [dbo].[House] ([IDHouse])
GO
ALTER TABLE [dbo].[InfoHouse] CHECK CONSTRAINT [FK_InfoHouse_House]
GO
ALTER TABLE [dbo].[InfoHouse]  WITH CHECK ADD  CONSTRAINT [FK_InfoHouse_Key] FOREIGN KEY([IDKey])
REFERENCES [dbo].[Key] ([IDKey])
GO
ALTER TABLE [dbo].[InfoHouse] CHECK CONSTRAINT [FK_InfoHouse_Key]
GO
ALTER TABLE [dbo].[Key]  WITH CHECK ADD  CONSTRAINT [FK_Key_Category] FOREIGN KEY([IDCategory])
REFERENCES [dbo].[Category] ([IDCategory])
GO
ALTER TABLE [dbo].[Key] CHECK CONSTRAINT [FK_Key_Category]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_TaiKhoan] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_TaiKhoan]
GO
USE [master]
GO
